@import url("./grid.css");
@import url("./spacing.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");

.fa-solid {
  color: #2c3e50;
}

#app {
  margin: 0 auto;
  padding: 0 2rem;
}

.border-dashed {
  border: 1px dashed #ccc;
}

.empty-placeholder {
  border: 1px dashed #ccc;
  padding: 10px;
}

/* Element highlight */
.element-highlight {
  position: relative!important;
}

.element-highlight::before {
  z-index: 1;
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: 0 0 0 1px #3498db;
  background-color: #3498db2b;
  pointer-events: none;
  border-radius: inherit;
}